<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="NBK_DVP_API_Automation">


<groups>  
<run>  
<!-- <include name="SmokeTest"/>   -->
</run>  
</groups>  
	<listeners>
		<listener class-name="nbk.api.utilobjects.Reporting"/>
	</listeners>


	<test name="Test">
		
		<classes>
		
			<class name = "nbk.api.request.activation.certificateActivationPOST"/>
			
			<!-- <class name="APIs.userCreationPOST" />
			<class name="APIs.userLoginPOST" />
			<class name="APIs.userRegisterPOST" />
			<class name="APIs.usersinglelistGET" />
			<class name="APIs.userDELETE" />  -->
			
			
			
			
			
		</classes>

	</test>

</suite>